.overlay-right-bg-black {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  overflow: hidden;
}

aside.message-container {
  position: fixed;
  padding: 0.6rem 1rem;
  top: calc(48px + 1rem);
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  height: 0;
  width: 0;
  background-color: white;
  z-index: 1024;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
}

aside.message-container.show {
  height: calc(100% - 2rem - 48px);
  width: auto;
  opacity: 1;
  overflow-y: scroll;
}

aside.message-container .title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}

aside.message-container img.circle-plus {
  width: 1.8rem;
}

aside.message-container .search-box {
  position: relative;
  background-color: var(--light-blue);
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  min-height: 1rem;
  height: fit-content;
  margin: 5% 0;
  overflow: hidden;
}

aside.message-container .search-box input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  margin-left: 3rem;
}

aside.message-container .search-box input::placeholder {
  color: rgba(0, 0, 0, 1);
  font-size: 0.9rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

aside.message-container .search-box img.search-icon {
  position: absolute;
  height: 100%;
  max-width: 1.5rem;
  left: 1rem;
}
