main {
  height: 100%;
  padding: 2% 1%;
}

main section .card {
  border-radius: 10px;
}

main section .card .title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.6rem 1rem;
}
