main section.news .card img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

main section.news .card .carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

main section.news .card .carousel-indicators button {
  background-color: white;
  opacity: 0.9;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.7s ease;
}

main section.news .card .carousel-indicators .active {
  opacity: 1;
  width: 25px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--blue);
}

@media (min-width: 992px) {
  main section.news {
    width: 100%;
  }
}
