.reset-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.reset-container .back-to-home {
  position: fixed;
  top: 3%;
  left: 5%;
}

.reset-container .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-container .left-side img {
  height: 80%;
  width: 60%;
}

.reset-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 8%;
  height: 100%;
  width: 80%;
}

.reset-container .right-side h1 {
  text-align: center;
  font-family: Kanit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.reset-container .right-side h2 {
  text-align: center;
  font-family: Kanit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  color: black;
  margin-bottom: 3%;
}

.reset-container .right-side h3 {
  font-family: Kanit;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: rgba(131, 127, 143, 1);
}

.reset-container .right-side label {
  background-color: white;
}

.reset-container .right-side .form-container {
  margin-bottom: 4%;
}

.reset-container .right-side .btn-container .btn-login {
  cursor: pointer;
  height: 2.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: var(--blue);
  color: white;
  border-radius: 7px;
  text-align: center;
  font-family: Kanit;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-container .right-side .btn-container .btn-login:hover {
  background-color: var(--dark-blue);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .reset-container {
    flex-direction: row;
  }

  .reset-container .left-side {
    background-color: var(--light-blue);
    height: 100%;
    width: 50%;
  }

  .reset-container .right-side {
    width: 50%;
    padding: 14% 5% 13% 3%;
  }

  .reset-container .right-side h2 {
    margin-bottom: 5%;
  }

  .reset-container .right-side .form-container {
    margin-top: 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .reset-container {
    flex-direction: row;
    padding: 13% 3% 10% 3%;
  }

  .reset-container .left-side img {
    margin-bottom: 4%;
  }

  .reset-container .right-side {
    width: 70%;
  }

  .reset-container .right-side h2 {
    margin-bottom: 5%;
  }

  .reset-container .right-side .form-container {
    margin-top: 10%;
  }

  .form-container input {
    height: 3rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  .form-container input::placeholder {
    font-size: 1rem;
  }

  .form-container label {
    top: -0.825rem;
    left: 1rem;
    font-size: 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* 1440 up devices */
@media (min-width: 1440px) {
  .form-container input {
    height: 4rem;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  .form-container input::placeholder {
    font-size: 1.25rem;
  }

  .reset-container .btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .reset-container .btn-container .btn-login {
    cursor: pointer;
    height: 4rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: var(--blue);
    color: white;
    border-radius: 7px;
    text-align: center;
    font-family: Kanit;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-container .btn-container .btn-login:hover {
    background-color: var(--dark-blue);
  }
}
